<div class="container" class="centerDiv" novalidate>
<form [formGroup]="contactForm">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile [colspan]="1" [rowspan]=1>
      <mat-form-field formGroupName="contact">
        <input matInput placeholder="Email" formControlName="email">
          <mat-error>Email is required & must be a valid email address</mat-error>
      </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]=1>
  <mat-form-field formGroupName="contact">
      <input matInput placeholder="Phone" formControlName="phone">
      <mat-error>Phone is required</mat-error>
  </mat-form-field>
</mat-grid-tile>
</mat-grid-list>
  <br><br>
  <button mat-flat-button matStepperPrevious class="button">Previous</button>
  <button mat-flat-button matStepperNext color="primary" class="button">Next</button>
</form>
</div>


