<div class="container" class="centerDiv" novalidate>
<mat-card style="margin-top: 20px; padding-top: 30px;">
  <form [formGroup]="contactForm">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile [colspan]="1" [rowspan]=1>
      <mat-form-field formGroupName="contact">
        <input matInput placeholder="Email" formControlName="email">
        <mat-error *ngIf="contactForm.controls['contact'].controls.email.hasError('required')">Email is required</mat-error>
        <mat-error *ngIf="contactForm.controls['contact'].controls.email.hasError('email')">Email must be a valid email address</mat-error>
          <!-- <mat-error>Email is required & must be a valid email address</mat-error> -->
          <!-- <div *ngIf="contactForm.controls['contact'].controls.email.errors.email">
          <mat-error>Email must be a valid email address</mat-error></div> -->
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]=1>
  <mat-form-field formGroupName="contact">
      <input matInput placeholder="Phone" formControlName="phone">
      <mat-error>Phone is required</mat-error>
  </mat-form-field>
</mat-grid-tile>
</mat-grid-list>
  <br><br>
  <button mat-flat-button matStepperPrevious class="button">Previous</button>
  <button mat-flat-button matStepperNext color="primary" class="button">Next</button>
</form>
</mat-card>
</div>


