.centerDiv
    {
      width: 80%;
      padding: 30px;
      margin: 0 auto;
      /* background-color:#FFA500 ; */
      text-align: center;
    }
    
.container {
  text-align: center;
}
.button {
  margin-right: 10px;
}