<div *ngIf="formSubmitted">
    <h4>Candidate created successfully</h4>
  </div>
<div *ngIf="!formSubmitted">
    <h5>Review & Submit</h5>
<div class="container" style="margin-top: 3%" novalidate>                    
  <mat-card style="padding-top: 40px;">
  <form [formGroup]="reviewForm">
    <mat-grid-list cols="6" rowHeight="3:1">
      <mat-grid-tile [colspan]="2" [rowspan]=1>
        <mat-form-field>
          <input matInput placeholder="First Name" formControlName="firstNameReview">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]=1>
        <mat-form-field>
          <input matInput placeholder="Middle Name" formControlName="middleNameReview">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]=1>
        <mat-form-field>
          <input matInput placeholder="Last Name" formControlName="lastNameReview">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]=2>
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="emailReview">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]=2>
        <mat-form-field>
          <input matInput placeholder="Phone" formControlName="phoneReview">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <div style="margin-top: 30px;">
      <button mat-flat-button color="primary" class="button" style="float: left;">Reset</button>
      <button mat-flat-button matStepperPrevious color="primary" class="button">Back</button>
      <button type="submit" mat-flat-button color="primary" class="button" (click)="submit()">Submit</button>
    </div>  
  </form>
</mat-card>
</div>
</div>
<pre>{{ reviewForm.value | json }}</pre>
